@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>


<p>This Web App is Build using ASP.NET Core (MVC) which intends to perform basic Create, Read, Update & Delete (CRUD) Operations. This Project is to be subbmited by Pragyanshu Aryan as Minor Project to whomever it may concern</p>
