@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
    
<address>
    Uttaranchal University<br />
    Computer Science & Engineering, UIT <br />
    <abbr title="Phone">P:</abbr>
    +91 939716878
</address>

<address>
    <strong>LinkedIn:</strong> <a href="https://www.linkedin.com/in/pragyanshuaryan/">LinkedIn Handle</a><br />
    <!--<strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>-->
</address>
